@model IEnumerable<GPlayGround.Models.DB.Employee>
@{
    ViewData["Title"] = "Index";
}

<script>
    var emloyees = @Html.Raw(Json.Serialize(Model))
</script>
<div id="app">
    <h2>
        Emplyees
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Birthday
                            </th>
                            <th>
                                Age
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Phone
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="employee in emloyees">
                            <td>
                                {{employee.name}}
                            </td>
                            <td>
                                {{employee.birthday|DateFormat}}
                            </td>
                            <td>
                                {{employee.age}}
                            </td>
                            <td>
                                {{employee.address}}
                            </td>
                            <td>
                                {{employee.phone}}
                            </td>
                            <td>
                                <button class="btn btn-primary" v-on:click="Edit(employee)">Edit</button>
                                <button class="btn btn-danger" v-on:click="Delete(employee.employeeId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <br />

                <input type="hidden" v-model="employee.employeeId" />
                <div class="form-group">
                    <label for="name" clas="control-label">Name</label>
                    <input class="form-control" type="text" name="name" v-model="employee.name" />
                </div>
                <div class="form-group">
                    <label for="birthday" clas="control-label">Birthady</label>
                    <input class="form-control" type="date" name="birthday" v-model="employee.birthday" placeholder="yyyy/mm/dd" />
                </div>
                <div class="form-group">
                    <label for="age" clas="control-label">Age</label>
                    <input class="form-control" type="number" name="age" min="0" v-model="employee.age" />
                </div>
                <div class="form-group">
                    <label for="address" clas="control-label">Address</label>
                    <input class="form-control" type="text" name="address" v-model="employee.address" />

                </div>
                <div class="form-group">
                    <label for="phone" clas="control-label">Phone</label>
                    <input class="form-control" type="text" name="phone" v-model="employee.phone" placeholder="09XX-XXXXXX" />
                </div>
                <div class="form-group">
                    <button v-on:click="Update" class="btn btn-primary">Update</button>
                </div>
                <div class="text-danger" v-if="errors.length">
                    <p >
                        <b>Please correct the following error(s):</b>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" v-on:click="errors = []" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Create
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Create New</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" for="newEmployee.employeeId" />
                    <div class="form-group">
                        <label for="name" clas="control-label">Name</label>
                        <input class="form-control" type="text" name="name" v-model="newEmployee.name" />
                    </div>
                    <div class="form-group">
                        <label for="birthday" clas="control-label">Birthady</label>
                        <input class="form-control" type="date" name="birthday" v-model="newEmployee.birthday" placeholder="yyyy-mm-dd" />
                    </div>
                    <div class="form-group">
                        <label for="age" clas="control-label">Age</label>
                        <input class="form-control" type="number" name="age" v-model="newEmployee.age" />
                    </div>
                    <div class="form-group">
                        <label for="address" clas="control-label">Address</label>
                        <input class="form-control" type="text" name="address" v-model="newEmployee.address" />

                    </div>
                    <div class="form-group">
                        <label for="phone" clas="control-label">Phone</label>
                        <input class="form-control" type="text" name="phone" v-model="newEmployee.phone" placeholder="09XX-XXXXXX" />
                    </div>
                    <div class="form-group">
                        <button v-on:click="Create" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="text-danger" v-if="errors.length">
                        <p >
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/Employees/index.js"></script>